<div class="accordion-heading {{if isExpanded "active"}}">
  <div class="content" data-role="title">
    {{title}}
  </div>
  <div class="content" data-role="availability">
    Avail: <span class="content-sub">{{availabilityMessage}}</span>
  </div>
  <div class="content">
    Status:
    <span class="content-sub text-{{statusTextColor}}" data-role="status">
      <i class="fa {{statusIcon}}"></i>
      {{statusLabel}}
    </span>
  </div>
  <button
    class="button-icon"
    data-role="accordion-item-button"
    aria-label="expand collapse"
    aria-expanded={{isExpanded}}
  >
    <i class="fa fa-chevron-down" aria-hidden="true"></i>
  </button>
</div>
<div class="accordion-body {{unless isExpanded "collapse"}}">
  <div class="accordion-content">
    {{yield}}
  </div>
</div>
