<div class="accordion-heading {{if this.isExpanded "active"}}">
  <div class="content" data-role="title">
    {{this.title}}
  </div>
  <div class="content" data-role="availability">
    Avail: <span class="content-sub">{{this.availabilityMessage}}</span>
  </div>
  <div class="content">
    Status:
    <span class="content-sub text-{{this.statusTextColor}}" data-role="status">
      <i class="fa {{this.statusIcon}}"></i>
      {{this.statusLabel}}
    </span>
  </div>
  <button
    class="button-icon"
    data-role="accordion-item-button"
    aria-label="expand collapse"
    aria-expanded={{this.isExpanded}}
  >
    <i class="fa fa-chevron-down" aria-hidden="true"></i>
  </button>
</div>
<div class="accordion-body {{unless this.isExpanded "collapse"}}">
  <div class="accordion-content">
    {{yield}}
  </div>
</div>
