<div class="footer-info container py-2 text-sm">
  <div class="footer-info-links">
    <div class="logo-wrapper">
      <img src="/images/ember-logo.svg" alt="Ember Logo" class="footer-logo">
    </div>
    {{#each args.infoLinks as |link|}}
      <a href={{link.href}}>{{link.name}}</a>
    {{/each}}
  </div>
  <div class="footer-social hide-on-mobile">
    {{#each args.socialLinks as |link|}}
      <a href={{link.href}} title={{link.title}} aria-label={{link.label}}>
        {{svg-jar link.class}} {{link.title}}
      </a>
    {{/each}}
  </div>
</div>