
Copyright {{currentYear}}
{{#if hasBlock}}
  {{yield}}
{{else}}
  {{#each infoLinks as |link index|}}
    <a href={{link.href}}>{{link.name}}</a>
    {{#if link.lineBreak}}
      <br/>
    {{else if (not-eq index infoLinksLastIndex)}}
       |
    {{/if}}
  {{/each}}
{{/if}}
