
{{#if hasBlock}}
  {{yield}}
{{else}}
  <p class="footer-tagline">{{tagline}}</p>
  <ul class="footer-social">
    {{#each socialLinks as |link|}}
    <li>
      <a href={{link.href}} title={{link.title}} aria-label={{link.label}}>
        {{svg-jar link.class}}
      </a>
    </li>
    {{/each}}
  </ul>
{{/if}}
