
{{#if hasBlock}}
  {{yield}}
{{else}}
  <p class="footer-tagline">{{tagline}}</p>
  <div class="footer-social">
    {{#each socialLinks as |link|}}
      <a href={{link.href}} title={{link.title}} rel="me">
        {{svg-jar link.class}}
      </a>
    {{/each}}
  </div>
{{/if}}
