{{! template-lint-disable no-inline-styles style-concatenation }}

<div class="color-pallet" ...attributes>
  <div class="color-pallet__example" style="background-color: {{@color}}">
    <div class="color-pallet__example-text-row" style="grid-template-columns: repeat({{textClasses.length}}, 1fr)">
      {{#each textClasses as |textClass|}}
        <span class="{{textClass}} color-pallet__example-text m-0">A</span>


        <div class="color-pallet__example-text-result m-0">
          <span {{did-insert this.checkPassFail textClass rgb}}></span>
        </div>
      {{/each}}
    </div>

    <div class="color-pallet__example-text-row" style="grid-template-columns: repeat({{textClasses.length}}, 1fr)">
      {{#each textClasses as |textClass|}}
        <span class="{{textClass}} color-pallet__example-text m-0 text-light">A</span>

        <div class="color-pallet__example-text-result m-0">
          <span {{did-insert this.checkPassFail textClass rgb}}></span>
        </div>
      {{/each}}
    </div>
  </div>
  <div class="color-pallet__details">
    {{#if @name}}
      <dl>
        <dt class="color-pallet__details-title">Name</dt>
        <dd>{{@name}}</dd>
      </dl>
    {{/if}}

    {{#if @variable}}
      <dl>
        <dt class="color-pallet__details-title">Variable</dt>
        <dd>{{@variable}}</dd>
      </dl>
    {{/if}}

    {{#if @class-name}}
      <dl>
        <dt class="color-pallet__details-title">Class Name</dt>
        <dd>{{@class-name}}</dd>
      </dl>
    {{/if}}

    <dl>
      <dt class="color-pallet__details-title">RGB</dt>
      <dd>{{rgbString}}</dd>
    </dl>

    <dl>
      <dt class="color-pallet__details-title">HEX</dt>
      <dd>{{@color}}</dd>
    </dl>

  </div>
</div>
