{{#if (eq link.type "link")}}
  <a
    class="navbar-list-item-link"
    href={{link.href}}
  >
    {{link.name}}
  </a>
{{/if}}
{{#if (eq link.type "dropdown")}}
  <button
    onclick={{action "toggleDropdown"}}
    class="navbar-list-item-dropdown-toggle {{if isDropdownOpen "active"}}"
    aria-expanded={{isExpanded}}
  >
    {{link.name}}
  </button>
  {{#if isDropdownOpen}}
    <ul class="navbar-dropdown-list">
      {{#each link.items as |item|}}
        {{#if (eq item.type "link")}}
          <li class="navbar-dropdown-list-item">
            <a
              class="navbar-dropdown-list-item-link"
              href={{item.href}}
            >
              {{item.name}}
            </a>
          </li>
        {{/if}}
        {{#if (eq item.type "divider")}}
          <li role="separator" class="separator"></li>
        {{/if}}
      {{/each}}
    </ul>
  {{/if}}
{{/if}}
