{{!-- template-lint-disable require-valid-alt-text --}}
{{!-- Bug link: https://github.com/ember-template-lint/ember-template-lint/issues/1286 --}}

{{#if @icon}}
  <EsIcon @icon={{@icon}} class="card__icon" width="60px" />
{{/if}}

{{#if @image}}
  <img
    class="card__image"
    src={{@image.src}}
    alt={{if @image.alt @image.alt ""}}
    role={{unless @image.alt "presentation"}}
    width={{@image.width}}
    height={{@image.width}}
  >
{{/if}}

<div class="card__content">
  {{yield}}
</div>
