{{! template-lint-disable no-unsupported-role-attributes }}
<nav class="es-sidebar" aria-label="Secondary content navigation" aria-expanded="{{this.isOpen}}" ...attributes>
  <EsButton
    @secondary={{true}}
    class="es-sidebar-close"
    aria-label="Close Sidebar"
    @type="button"
    @onClicked={{this.close}}
  >
    <svg width="36" height="36" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg"><path d="M12.343 10.929L18 16.585l5.657-5.656a1 1 0 011.414 1.414L19.415 18l5.656 5.657a1 1 0 01-1.414 1.414L18 19.415l-5.657 5.656a1 1 0 01-1.414-1.414L16.585 18l-5.656-5.657a1 1 0 011.414-1.414z" fill="#FFF" fill-rule="evenodd"/></svg>
  </EsButton>
  <div class="es-sidebar-content">
    {{yield}}
  </div>
</nav>

<EsButton
  class="es-sidebar-toggle"
  aria-label="Toggle Sidebar"
  @type="button"
  @onClicked={{this.toggle}}
>
  <svg aria-hidden="true" width="36" height="36" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg"><g fill="#FFF" fill-rule="evenodd"><path d="M28 24.5a1 1 0 010 2H13a1 1 0 010-2h15zm0-7a1 1 0 010 2H13a1 1 0 010-2h15zm0-7a1 1 0 010 2H13a1 1 0 010-2h15zM9 24a1.5 1.5 0 110 3 1.5 1.5 0 010-3zm0-7a1.5 1.5 0 110 3 1.5 1.5 0 010-3zm0-7a1.5 1.5 0 110 3 1.5 1.5 0 010-3z"/></g></svg>
</EsButton>