<button
  class={{if @secondary "es-button-secondary" "es-button"}}
  aria-label={{@label}}
  type={{this._type}}
  ...attributes
  {{on "click" this.buttonClicked}}
>
  {{#if hasBlock}}
    {{yield}}
  {{else}}
    {{@label}}
  {{/if}}
</button>