<button
  class={{if @secondary "es-button-secondary" "es-button"}}
  aria-label={{@label}}
  onclick={{action this.buttonClicked}}
  ...attributes
>
  {{#if hasBlock}}
    {{yield}}
  {{else}}
    {{@label}}
  {{/if}}
</button>
