<button
  class="es-button {{if @isLight "button-light"}} {{if @isTiny "button-tiny"}} {{if @isBlock "button-block"}}"
  aria-label={{@label}}
  ...attributes
>
  {{#if hasBlock}}
    {{yield}}
  {{else}}
    {{@label}}
  {{/if}}
</button>
