<button
  class="es-button {{if @isLight 'button-light'}} {{if @isTiny 'button-tiny'}} {{if @isBlock 'button-block'}} {{if @isIcon "es-button-icon"}}"
  aria-label={{@label}}
  onclick={{action this.buttonClicked}}
  ...attributes
>
  {{#if hasBlock}}
    {{yield}}
  {{else}}
    {{@label}}
  {{/if}}
</button>
