{{#if postUrl}}
  <h2 class="post-title">
    <a href={{postUrl}}>{{postTitle}}</a>
  </h2>
{{else}}
  <h1 class="post-title">{{postTitle}}</h1>
{{/if}}
<div class="post-date">{{moment-format postDate 'MMM DD, YYYY' 'MM-DD-YYYY'}}</div>
<div class="post-author">By {{author}}</div>
{{#if isNonStandardPost}}
  <div class="post-tag {{if isGuestPost "guest" "syndicated"}}">
    {{if isGuestPost "Guest" "Syndicated"}} Post
  </div>
{{/if}}
