<footer class="es-footer" ...attributes>
  <div class="container">

    {{yield
      (hash
      info = (component "es-footer/es-info")
      statement = (component "es-footer/es-statement")
      contributions = (component "es-footer/es-contributions")
      )
    }}

    {{#unless hasBlock}}

      {{!--
        Pass footer properties to support
        {{es-footer tagline="My custom tagline" contributorLinks=myLinks}}
      --}}
      {{es-footer/es-info infoLinks=infoLinks}}
      {{es-footer/es-statement tagline=tagline socialLinks=socialLinks}}
      {{es-footer/es-contributions contributorLinks=contributorLinks}}

    {{/unless}}

  </div>
</footer>
