<div class="footer responsive">
  <div class="container">

    <div class="footer-info">
      Copyright {{currentYear}}
      <a href="http://tilde.io">Tilde Inc.</a>
      <br>
      <a href="/team">Team</a> |
      <a href="/sponsors">Sponsors</a>
      <br>
      <a href="/security">Security</a> |
      <a href="/legal">Legal</a> |
      <a href="/logos">Logos</a>
      <br>
      <a href="/guidelines">Community Guidelines</a>
    </div>

    <div class="footer-statement">
      {{yield}}
      <p class="footer-tagline">Ember.js is free, open source and always will be.</p>
      <div class="footer-social">
        <a href="http://twitter.com/emberjs" title="Twitter">
          {{svg-jar "twitter-logo"}}
        </a>
        <a href="https://github.com/emberjs/ember.js" title="GitHub">
          {{svg-jar "github-logo"}}
        </a>
        <a href="https://ember-community-slackin.herokuapp.com/" title="Slack">
          {{svg-jar "slack-logo"}}
        </a>
      </div>
    </div>

    <div class="footer-contributions">
      <div class="contributor">
        <p>Hosted by:</p>
        <a href="https://www.heroku.com/emberjs">
          {{svg-jar "heroku-logo" class="heroku-logo"}}
        </a>
      </div>
      <div class="contributor">
        <p>CDN provided by:</p>
        <a href="https://www.fastly.com">
          {{svg-jar "fastly-logo" class="fastly-logo"}}
        </a>
      </div>
      <div class="contributor">
        <p>Tested with:</p>
        <a href="https://percy.io">
          {{svg-jar "percy-logo" class="percy-logo"}}
        </a>
      </div>
      <div class="contributor">
        <p>Resolved with:</p>
        <a href="https://dnsimple.com/resolving/emberjs">
          {{svg-jar "dnsimple-logo-dark" class="dnsimple-logo"}}
        </a>
      </div>
    </div>

  </div>
</div>
