<nav class="es-navbar" aria-label="Ember">

  <a class="navbar-brand" href={{navHome}}>
    <img
      src="https://glimmer-styleguide.global.ssl.fastly.net/glimmer-styleguide/master/images/ember-logo.svg"
      alt="home"
    >
  </a>

  <ul role="menubar" aria-expanded="false">
    {{#each navLinks as |link index|}}
      {{es-navbar/link link=link index=index}}
    {{/each}}
  </ul>

  <div class="spacer">

  </div>

  {{#if hasBlock}}
    {{yield}}
  {{else}}
    <form class="navbar-form navbar-right searchbox">
      <div class="input-group">
        <label for="search-input" class="control-label sr-only">Search</label>
        <input
          type="text"
          class="form-control search input ds-input"
          placeholder="Search..."
          id="search-input"
          role="combobox"
          aria-expanded="false"
          aria-owns="algolia-autocomplete-listbox-0"
          autocorrect="off"
          autocapitalize="none"
          spellcheck="false"
        >
        <span></span>
      </div>
    </form>
  {{/if}}

  <button
    class="navbar-toggler ember-view"
    onclick={{action this.toggleMenu}}
    aria-label="Open navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
