<div class="list-title {{if isTitleVisible sr-only}}" id={{listId}}>{{@listTitle}}</div>

{{#if isUnorderedList}}
  <ul aria-labelledby={{listId}} class="list list-default">
    <EsUlistElements
      @listItems={{@listItems}}
      @hasLink={{@hasLink}}
      @hasImage={{@hasImage}}
    />
  </ul>
{{else}}
  <ol aria-labelledby={{listId}} class="list list-default">
    <EsUlistElements
      @listItems={{@listItems}}
      @hasLink={{@hasLink}}
      @hasImage={{@hasImage}}
    />
  </ol>
{{/if}}
