{{#bs-navbar
  collapsed=collapsed
  onCollapse=(action (mut collapsed) true)
  onExpand=(action (mut collapsed) false)
  type='inverse' as |navbar|}}
  <div class="navbar-header">
    {{navbar.toggle}}
    {{#link-to "index" class="navbar-brand"}}
      <img
        src="https://glimmer-styleguide.global.ssl.fastly.net/glimmer-styleguide/master/images/ember-logo.svg"
        alt="home">
    {{/link-to}}
  </div>
  {{#navbar.content}}
    {{#navbar.nav as |nav|}}
      {{#nav.item}}
        {{#bs-dropdown tagName="li" as |dd|}}
          {{#dd.toggle}}Docs <span class="caret"></span>{{/dd.toggle}}
          {{#dd.menu as |menu|}}
            {{#menu.item}}
              <a href="/guides" class="dropdown-item">Guides</a>
            {{/menu.item}}
            {{#menu.item}}
              <a href="/api" class="dropdown-item">API Reference</a>
            {{/menu.item}}
            {{menu.divider}}
            {{#menu.item}}
              <a href="/learn" class="dropdown-item">Learn Ember</a>
            {{/menu.item}}
          {{/dd.menu}}
        {{/bs-dropdown}}
      {{/nav.item}}
      {{#nav.item}}
        {{#bs-dropdown tagName="li" as |dd|}}
          {{#dd.toggle}}Releases <span class="caret"></span>{{/dd.toggle}}
          {{#dd.menu as |menu|}}
            {{#menu.item}}
              <a href="/builds" class="dropdown-item">Channels</a>
            {{/menu.item}}
            {{#menu.item}}
              <a href="/builds/release" class="dropdown-item">-- Stable</a>
            {{/menu.item}}
            {{#menu.item}}
              <a href="/builds/beta" class="dropdown-item">-- Beta</a>
            {{/menu.item}}
            {{#menu.item}}
              <a href="/builds/canary" class="dropdown-item">-- Canary</a>
            {{/menu.item}}
            {{menu.divider}}
            {{#menu.item}}
              <a href="/deprecations" class="dropdown-item">Deprecations</a>
            {{/menu.item}}
            {{#menu.item}}
              <a href="/statusboard" class="dropdown-item">Status Board</a>
            {{/menu.item}}
          {{/dd.menu}}
        {{/bs-dropdown}}
      {{/nav.item}}
      {{#nav.item}}
        <a href="/blog">Blog</a>
      {{/nav.item}}
      {{#nav.item}}
        {{#bs-dropdown tagName="li" as |dd|}}
          {{#dd.toggle}}Community <span class="caret"></span>{{/dd.toggle}}
          {{#dd.menu as |menu|}}
            {{#menu.item}}
              <a href="/community" class="dropdown-item">The Ember Community</a>
            {{/menu.item}}
            {{#menu.item}}
              <a href="/guidelines" class="dropdown-item">Guidelines</a>
            {{/menu.item}}
            {{#menu.item}}
              <a href="http://github.com/emberjs/" class="dropdown-item">Contribute (Github)</a>
            {{/menu.item}}
            {{menu.divider}}
            {{#menu.item}}
              <a href="/community/meetups" class="dropdown-item">Meetups</a>
            {{/menu.item}}
            {{#menu.item}}
              <a href="http://jobs.emberjs.com/" class="dropdown-item">Job Board</a>
            {{/menu.item}}
            {{menu.divider}}
            {{#menu.item}}
              <a href="http://emberconf.com/" class="dropdown-item">Ember Conf</a>
            {{/menu.item}}
            {{#menu.item}}
              <a href="#" class="dropdown-item">Annual Survey</a>
            {{/menu.item}}
          {{/dd.menu}}
        {{/bs-dropdown}}
      {{/nav.item}}
      {{#nav.item}}
        {{#bs-dropdown tagName="li" as |dd|}}
          {{#dd.toggle}}About <span class="caret"></span>{{/dd.toggle}}
          {{#dd.menu as |menu|}}
            {{#menu.item}}
              <a href="#" class="dropdown-item">Why Ember</a>
            {{/menu.item}}
            {{menu.divider}}
            {{#menu.item}}
              <a href="/team" class="dropdown-item">The Team</a>
            {{/menu.item}}
            {{menu.divider}}
            {{#menu.item}}
              <a href="/logos" class="dropdown-item">Logos</a>
            {{/menu.item}}
            {{#menu.item}}
              <a href="/mascots" class="dropdown-item">Mascots</a>
            {{/menu.item}}
            {{menu.divider}}
            {{#menu.item}}
              <a href="/ember-users" class="dropdown-item">Who Uses Ember</a>
            {{/menu.item}}
            {{#menu.item}}
              <a href="/sponsors" class="dropdown-item">Sponsors</a>
            {{/menu.item}}
            {{menu.divider}}
            {{#menu.item}}
              <a href="/legal" class="dropdown-item">Legal</a>
            {{/menu.item}}
            {{#menu.item}}
              <a href="/security" class="dropdown-item">Security</a>
            {{/menu.item}}
          {{/dd.menu}}
        {{/bs-dropdown}}
      {{/nav.item}}
    {{/navbar.nav}}
  {{/navbar.content}}
{{/bs-navbar}}

{{!--
<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"
            aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/"><img
      src="https://glimmer-styleguide.global.ssl.fastly.net/glimmer-styleguide/master/images/ember-logo.svg"
      alt="home"/></a>
  </div>
  <div class="collapse navbar-collapse" id="navbar-collapse">
    <form class="navbar-form navbar-right searchbox">
      <div class="input-group">
        <label for="search-input" class="control-label sr-only">Search</label>
        <input type="text"
               class="form-control search input ds-input"
               placeholder="Search..."
               id="search-input"
               role="combobox"
               aria-expanded="false"
               aria-owns="algolia-autocomplete-listbox-0"
               autocorrect="off"
               autocapitalize="none"
               spellcheck="false"
        />
        <span></span>
      </div>
    </form>
  </div>
  <!-- /.navbar-collapse -->
</div>
<!-- /.container-fluid -->
--}}