{{#if isExternal}}
    {{#if isBlocked}}
        <div class="link-text">
            <a href="{{item.route}}" target="__blank">{{item.text}}</a>
        </div>
    {{else}}
        <span class="link-text inline">
            <a href="{{item.route}}" target="__blank">{{item.text}}</a>
        </span>
    {{/if}}
{{else}}
    {{#if isBlocked}}
        <div class="link-text">
            {{#link-to item.route}} 
                {{item.text}}
            {{/link-to}}
        </div>
    {{else}}
        <span class="link-text inline">
            {{#link-to item.route}}
                {{item.text}}
            {{/link-to}}
        </span>
    {{/if}}
    
{{/if}}