{{!--{{outlet}}--}}
{{es-heading headingText="A framework for creating ambitious applications" isCentered=true}}
<section>
  <div class="intro">
    {{es-heading headingText="Get Started" tagName="h2"}}
    <p>Build your first Ember application with our 5 minute tutorial.</p>

    <pre><code>$ npm install -g ember-cli

$ ember new ember-quickstart
            </code></pre>
    <a href="/learn/quickstart" class="es-button">View quick start guide</a>
  </div>
</section>
<section>
  {{es-heading  headingText="More Productive out of the box" tagName="h2"}}
  <ul class="es-card border">
    <li>
      <img src="assets/images/ember-handlebars-sm.png" alt="" role="presentation"/>
      <h3>Streamlined</h3>
      <p>Write dramatically less code with Ember's Handlebars integrated templates that update automatically when the
        underlying data changes.</p>
    </li>
    <li>
      <img src="assets/images/ember-structure-sm.png" alt="" role="presentation"/>
      <h3>Structured</h3>
      <p>Don't waste time making trivial choices. Ember.js incorporates common idioms so you can focus on what makes
        your app special, not reinventing the wheel.</p>
    </li>
    <li>
      <img src="assets/images/ember-productivity-sm.png" alt="" role="presentation"/>
      <h3>Ergonomic</h3>
      <p>Ember.js is built for productivity. Designed with developer ergonomics in mind, its friendly APIs help you get
        your job done—fast.</p>
    </li>
  </ul>
</section>
<section>
  {{es-heading headingText="Who is using Ember.js?" tagName="h2"}}
  <ul class="es-ulist">
    <li><a href=""><img src="assets/images/logos/users/mhelabs.png" alt="McGraw Hill Labs"/></a></li>
    <li><a href=""><img src="assets/images/logos/users/yapp.png" alt="Yapp"/></a></li>
    <li><a href=""><img src="assets/images/logos/users/tilde.png" alt="Tilde"/></a></li>
    <li><a href=""><img src="assets/images/logos/users/bustle.png" alt="Bustle"/></a></li>
  </ul>
  <a href="/ember-users" class="es-button text-center">Meet more users</a>
</section>
<section>
  {{es-heading headingText="Buy Ember.js gear and support development" tagName="h2"}}
  <ul class="es-ulist">
    <li><a href=""><img src="assets/images/ember-sticker.png" alt="buy ember stickers"/></a></li>
    <li><a href=""><img src="assets/images/ember-shirt.png" alt="buy ember tshirts"/></a></li>
    <li><a href=""><img src="assets/images/ember-hamster-sticker.png" alt="buy ember mascot stickers"/></a></li>
    <li><a href=""><img src="assets/images/ember-tomster-plush.png" alt="buy ember mascot stuffies"/></a></li>
  </ul>
  <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=QRRZTQ5GM7PSY"
     class="es-button text-center">Donate to the project</a>
</section>
<section>
</section>

